<app-menu></app-menu>

<section class="page-section" id="cliente">
  <div class="container">
      <!-- Contact Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Cadastro Clientes</h2>
      <!-- Icon Divider-->
      <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      <!-- Contact Section Form-->
      <div class="row justify-content-center">
          <div class="col-lg-8 col-xl-7">
              <!-- * * * * * * * * * * * * * * *-->
              <!-- * * SB Forms Contact Form * *-->
              <!-- * * * * * * * * * * * * * * *-->
              <!-- This form is pre-integrated with SB Forms.-->
              <!-- To make this form functional, sign up at-->
              <!-- https://startbootstrap.com/solution/contact-forms-->
              <!-- to get an API token!-->
              <form id="clientForm"  [formGroup]="formCliente">
                  <!-- Name input-->
                  <div class="form-floating mb-3">
                      <input class="form-control" formControlName="nome" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                      <label for="name">Nome completo</label>

                  </div>
                  <div class="form-floating mb-3">
                      <input class="form-control" formControlName="cpf" id="cpf" type="text" placeholder="Enter your cpf..." data-sb-validations="required" />
                      <label for="cpf">CPF</label>
                  </div>


                  <div class="row">
                    <div class="form-floating col-md-9">
                      <input class="form-control" formControlName="rua" id="rua" type="text" placeholder="Enter your rua..." data-sb-validations="required" />
                      <label for="rua">Rua</label>
                  </div>
                    <div class="form-floating col-md-3">
                      <input class="form-control" formControlName="numero"  type="number" placeholder="Enter your numero..." data-sb-validations="required" />
                      <label for="numero">Número</label>
                  </div>

                  </div>

                  <div class="form-floating mb-3">
                      <input class="form-control" formControlName="cidade" id="cidade" type="text" placeholder="Enter your cidade..." data-sb-validations="required" />
                      <label for="cidade">Cidade</label>
                  </div>
                  <div class="form-floating mb-3">
                      <input class="form-control" formControlName="estado" id="estado" type="text" placeholder="Enter your estado..." data-sb-validations="required" />
                      <label for="estado">Estado</label>
                  </div>
                  <div class="form-floating mb-3">
                      <input class="form-control" formControlName="cep" id="cep" type="text" placeholder="Enter your cep..." data-sb-validations="required" />
                      <label for="cep">CEP</label>
                  </div>

                  <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                  <!-- Submit
                  <button class="btn btn-primary btn-xl disabled " (click)="onSubmit()" id="submitButton" type="submit">Send</button>
              Button-->
              <div class="action-form">
                <button
                class="cadastrarCliente btn btn-primary btn-lg"
                type="submit"
                (click)="onSubmit()"
                [disabled]="formCliente.invalid">Cadastrar</button>
              </div>
            </form>
          </div>
      </div>
  </div>
</section>

<app-footer></app-footer>
