<div class="mt-5 container">
  <h2>Tabela Clientes</h2>

  <hr>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>CPF</th>
        <th>Rua</th>
        <th>Nº</th>
        <th>Cidade</th>
        <th>Estado</th>
        <th>Cep</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">

        <td>{{cliente.id}}</td>
        <td>{{cliente.nome}}</td>
        <td>{{cliente.cpf}}</td>
        <td>{{cliente.rua}}</td>
        <td>{{cliente.numero}}</td>
        <td>{{cliente.cidade}}</td>
        <td>{{cliente.estado}}</td>
        <td>{{cliente.cep}}</td>
      </tr>
    </tbody>
  </table>
</div>
