<div class="mt-5 container">
  <h2>Tabela de Remententes</h2>

  <hr>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Rementente</th>
        <th>CNPJ</th>
        <th>Rua</th>
        <th>Nº</th>
        <th>Cidade</th>
        <th>Estado</th>
        <th>CEP</th>
        <th>Frete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empresa of empresas">

        <td>{{empresa.id}}</td>
        <td>{{empresa.rementente}}</td>
        <td>{{empresa.cnpj}}</td>
        <td>{{empresa.rua}}</td>
        <td>{{empresa.numero}}</td>
        <td>{{empresa.cidade}}</td>
        <td>{{empresa.estado}}</td>
        <td>{{empresa.cep}}</td>
        <td>{{empresa.valorDoFrete}}</td>
      </tr>
    </tbody>
  </table>
</div>
